doctype html
html(lang='en')
  head
    link(rel='icon', href='/files/headphones.png')
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Orbitron')
      script(src='/js/google-analytics.js')
  body !{payload}
