[
  name: "Hippocampus Red & Black Attack"
  sound: "https://soundcloud.com/marcvh/hippos-red-black-attack-live"
  date: "2016-10-10"
,
  name: "Un-yacht 3"
  href: "https://soundcloud.com/marcvh/un-yacht-3-teaser-progressive-trance"
]
