link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Signika+Negative')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Julius+Sans+One:400')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Dosis:300')
script(src='files/js/google-analytics.js',type='text/javascript')
style.
  img { width: 100%; }
  body {
    margin: 0;
    font-family: "Signika Negative", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Dosis", sans-serif;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 100;
  }
  h1 {
  }
  h1, h2, h3 {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: center;
    padding: 0;
    font-weight: 100;
  }
  ul { text-align: center; padding: 0; }
  li { width: 120px; }
  li { display: inline-block; margin: 2em;}
  a { text-decoration: none; color: orange; }
  .parallax {
  opacity: .8;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .img1 {
  background-image: url("/files/unyacht-4.jpg");
  }
  .img2 {
  background-image: url("/files/seattle.jpg");
  }
  .img3 {
  background-image: url("/files/at-love-affair.jpg");
  }
  .img4 {
  background-image: url("/files/at-un-yacht-3.jpg");
  }
  .in {
  opacity: 1;
  aposition: absolute;
  top: 20%;
  width: 100%;
  color: black;
  background-color: white;
  padding-top: 50;
  padding-bottom: 50;
  text-align: center;
  }
  table {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  }
.parallax.img1
.in
  h1 MARC VON HOLZEN
  h3 seattle
  br
  ul
    li
      | progressive
    li
      | electro
    li
      | psytrance
  br
  ul
    li
      a(href='http://soundcloud.com/marcvh') soundcloud
    li
      a(href='mailto:dj@vonholzen.org') email
.parallax.img2
//- .in
//-   h2 Past Shows
//-   div
//-     | !{get('html/json/files/events.cson')}
.parallax.img3
.in
  h2 Why?
  ul
    li
      | disconnect: positive effects of abandon, of release
    li
      | dream: immersion, imagine, create
    li
      | connect: physical intimacy with others that *cannot* use words
    li
      | exercise: explore and practice your body, your environment
    li
      | predict: enjoying responding to rhythm, following the beat
.parallax.img4
